@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiDataGrid-cell{
    article-right : 1px solid red;
    article-bottom : 1px solid red;
}

 /*external css to add in tailwind's Global css
 no-scrollbar(class)*/

 @layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
} 